# Ignore everything by default
*
# And then explicitly include just what we want
!pipeline/build/SConstruct
!pipeline/tools/python
!pipeline/tools/config
!pipeline/tools/scripts/pipevfx_docker_init.sh
!docker
