# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.scons*
.build
pipeline/libs*
pipeline/libss
pipeline/build/linux
pipeline/build/build
.idea
.svn
pipeline/tags/*
pipeline/libs/*
pipeline/build/.build
