# to install pipeVFX on your distro, just copy this service to /etc/systemd/system/dbusPipeVFX.service
# and do:
#     sudo systemctl daemon-reload
#     sudo systemctl start dbusPipeVFX
#     sudo systemctl enable dbusPipeVFX

[Unit]
Description=DBus PipeVFX  daemon
After=network.target sshd.service autofs.service
Conflicts=getty@tty1.service


[Service]
Type=simple
ExecStartPre=/bin/bash /atomo/pipeline/tools/init/rc.local
ExecStart=/bin/python2 /atomo/pipeline/tools/init/dbusService.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=2s
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
