# =================================================================================
#    This file is part of pipeVFX.
#
#    pipeVFX is a software system initally authored back in 2006 and currently
#    developed by Roberto Hradec - https://bitbucket.org/robertohradec/pipevfx
#
#    pipeVFX is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Lesser General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    pipeVFX is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Lesser General Public License for more details.
#
#    You should have received a copy of the GNU Lesser General Public License
#    along with pipeVFX.  If not, see <http://www.gnu.org/licenses/>.
# =================================================================================
# to install pipeVFX on your distro, just copy this service to
# /etc/systemd/system/dbusPipeVFX.service and do:
#     sudo systemctl daemon-reload
#     sudo systemctl start dbusPipeVFX
#     sudo systemctl enable dbusPipeVFX
#
# Dont forget to replace /atomo/ by the name of the studio you're using.
#

[Unit]
Description=DBus PipeVFX  daemon
After=network.target sshd.service autofs.service
Conflicts=getty@tty1.service


[Service]
Type=simple
ExecStartPre=/bin/bash /atomo/pipeline/tools/init/rc.local
ExecStart=/bin/python2 /atomo/pipeline/tools/init/dbusService.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=2s
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
