# to install pipeVFX on your distro, just copy this service to /etc/systemd/system/dbusPipeVFX.service
# and do:
#     sudo systemctl daemon-reload
#     sudo systemctl start dbusPipeVFX
#     sudo systemctl enable dbusPipeVFX

[Unit]
Description=Farm PipeVFX daemon
After=network.target sshd.service autofs.service dbusPipeVFX.service
Conflicts=getty@tty1.service


[Service]
Type=simple
ExecStart=/bin/bash /atomo/pipeline/tools/scripts/afrender
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
# Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pipevfx

[Install]
WantedBy=multi-user.target
